body {
  background: url(../img/background.png);
}
.container {
  position: absolute;
  top: 10%;
  left: 50%;
}
.form-with-tab {
  position: absolute;
  display: inline-block;
  width: 630px;
  height: 410px;
  transform: translate(-50%);
}
.nav-tabs > li.active > a:focus {
  color: white;
  background-color: #03a5da;
}
.nav-tabs > li.active > a:hover {
  color: white;
}
.nav-tabs > li {
  display: block;
  margin-left: 1rem;
  font-size: 16pt;
  text-align: center;
  transform: translate(10%);
  color: black;
}
.nav-tabs > li > a {
  display: inline-block;
  font-size: 16pt;
  text-align: center;
  color: black;
  background-color: white;
}
.nav-tabs > li.active > a {
  display: inline-block;
  font-size: 16pt;
  text-align: center;
  color: white;
  background-color: #03a5da;
}
.tab-content {
  height: 360px;
  border: 23px solid #03a5da;
  background-color: black;
}
.tab-content p {
  margin-left: 70px;
  color: #c51f03;
  margin-bottom: 30px;
}
input.form-input {
  display: block;
  border: none;
  overline: none;
  color: white;
  margin: 40px 50px 20px 50px;
  width: 480px;
  height: 60px;
  font-size: 170%;
  font-weight: bold;
  background: url(../img/background-input.png);
}
.checkbox {
  margin-left: 120px;
}
.checkbox input {
  display: inline-block;
  padding-right: 0px;
}
.checkbox p {
  margin-left: 0px;
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
.enter-button {
  background: url(../img/enter-button.png);
  position: absolute;
  width: 130px;
  height: 50px;
  transform: translate(495px, -60px);
}
